.SplashScreen__outer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.SplashScreen__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.SplashScreen__inner {
  position: absolute;
  max-width: 934px;
  top: 294px;
  bottom: 119px;
  left: 110px;
  right: 110px;
}

.SplashScreen__caption {
}

.SplashScreen__caption_small {
  font-weight: 400;
  font-size: 124px;
  line-height: 130px;
}

.SplashScreen__caption_large {
  font-weight: 500;
  font-size: 190px;
  line-height: 173px;
}

.SplashScreen__content {
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}
