body {
  font-family: "VK Sans Display", sans-serif;
  background-color: var(--bg-color);
  color: var(--base-text-color);
}

:root {
  --base-text-color: white;
  --bg-color: #343434;

  --base-color: #F2F3F5;
  --incorrect-color: #EB5757;
  --correct-color: #27AE60;
  --neutral-answer-color: #F2C94C;

  --inactive-tab-color: #4F4F4F;
  --active-tab-color: white;
}

@font-face {
  font-family: 'VK Sans Display';
  font-display: swap;
  font-weight: 500;
  src: url(assets/fonts/VK_Sans_Display_Medium.woff2) format('woff2'),
  url(assets/fonts/VK_Sans_Display_Medium.woff) format('woff');
}
